<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="name" placeholder="Имя">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Почта</mat-label>
    <input matInput formControlName="email" placeholder="Почта">
    <mat-error *ngIf="clientForm.controls['email'].hasError('required')">Нужна почта</mat-error>
    <mat-error *ngIf="clientForm.controls['email'].hasError('email')">Неправильный адрес</mat-error>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button color="primary" class="submit-button" type="submit">Подтвердить</button>
    <button mat-raised-button color="warn" class="submit-button" type="button" (click)="onDelete()" *ngIf="clientId">Удалить</button>
  </div>
</form>
